body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    background-color: #FEEED6;
    color: #656565;
}

.course-description {
    max-width: 700px;
    margin: auto;
    text-align: justify;
    padding: 15px;
}

.course-description span {
    color: #378db2;
    font-weight: bolder;
}

.course-description h1 {
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: lighter;
}

.subtitle {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.subtitle:last-of-type {
    margin-top: 15px;
}

.course-description p {
    font-size: 1.1em;
    text-indent: 1em;
    line-height: 1.4;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}