body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    background-color: #FEEED6;
    color: #676565;
}

.white-color {
    background-color: #fff;
    height: 60px;
    padding-top: 1px;
    padding-bottom: 4px;
}

.head {
    max-width: 700px;
    margin: 0 auto;
}

.head h2 {
    font-family: inherit;
    font-size: 30px;
    font-weight: 500;
    color: #676565;
}

.main-form {
    max-width: 700px;
    margin: auto;
    padding: 0 20px;
    height: 575px;
}

.form-label {
    margin-top: 20px;
    margin-right: 15px;
    font-size: 15px;
}

.form-label input {
    border: none;
    padding: 10px;
    width: 100%;
    min-width: 70%;
    font-family: inherit;
    margin-top: 8px;
}

.form-label textarea {
    border: none;
    height: 120px;
    width: 100%;
    padding: 10px;
    resize: none;
    margin-top: 10px;
}

.form-label label {
    font-size: inherit;
    font-weight: bold;
    margin-bottom: 10px;
}

.send-button {
    float: right;
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background-color: #378db2;
    border: none;
    margin-right: -20px;
}

.send-button:hover {
    background-color: #32728d;
    cursor: pointer;
}