h2 {
    font-family:inherit;
    font-weight:500;
    line-height:1.1;
    color:#777;
    padding: 10px;
    margin-bottom: -3px;
}

form {
    background-color: #FEEED6;
    width: 650px;
    padding: 10px;
}