.gradient {
    margin: auto;
    max-width: 1024px;
    height: 768px;
    background: linear-gradient(to top right, #b5e5f6, #7dd0ef, transparent),
    linear-gradient(to top left, #cfeafb, #6faefa, transparent);
    background-blend-mode: screen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gabriel {
    width: 910px;
    height: 670px;
    border: 1px solid #dbdbdb;
    border-radius: 7px;
    box-shadow: 0px -7px 10px -9px;
    background: #f9f9f9;
}

.nav-menu {
    height: 62px;
    width: 100%;
    background: #fed516;
    display: flex;
    justify-content: space-between;
    border-radius: 7px 7px 0 0;
}

.menu-block {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    flex-grow: 1;
    text-align: center;
}

.vert-line {
    border-left: 1px solid #cbaa14;
    height: 31px;
    align-self: center;
}

.nav-menu span {
    font-family: inherit;
    font-size: 14px;
}

.nav-menu a {
    text-decoration: none;
    color: #846f0c;
}

.red-color {
    color: #d50307!important;
    text-decoration: underline!important;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.inactive-menu {
    color: #d4b215;
}

.mid-table {
    height: 280px;
    background: #f9f9f9;
    overflow-y: scroll;
}

.request-table {
    width: 100%;
    background-color: #f9f9f9;
    font-family: 'Trebuchet MS', sans-serif;
    color: #6d6d6d;
    border-collapse: collapse;
}

.request-table th {
    height: 32px;
    font-size: 13px;
    font-weight: 700;
    border-bottom: 1px solid #dbdbdb;
    border-top: 2px solid #dbdbdb;
}

.request-table td {
    padding-top: 13px;
    padding-bottom: 6px;
}

.request-table td:first-child {
    padding-left: 12px;
}

.left-align {
    text-align: left;
    padding-left: 15px;
    width: 215px;
}

.request-table tbody {
    font-family: inherit;
    text-align: center;
}

.address {
    font-family: inherit;
    font-size: 12px;
}

.et-count {
    font-family: inherit;
    font-size: 17px;
    font-weight: 600;
}

.request-table input {
    width: 93%;
    height: 15px;
    padding-left: 10px;
    font-size: 10px;
}

.button-block {
    height: 100px;
    background-color: #f9f9f9;
    display: flex;
    padding: 0 15px;
}

.button-block button {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-weight: 400;
    border: 1px solid #628428;
    width: 170px;
    height: 44px;
    margin: 0 8px;
    align-self: center;
}

.button-block button:hover {
    cursor: pointer;
}

.button-block .send-button {
    background: linear-gradient(180deg, #f7f7f7, #c8c8c8);
    color: #949494;
}

.button-block .arch-button {
    margin-right: auto;
}

.button-block .green-col {
    background: linear-gradient(180deg, #9ec454, #7ca92f);
    color: #fff;
}

.prev-request {
    background-color: #f9f9f9;
    height: 40px;
    display: flex;
    font-family: 'Trebuchet MS', sans-serif;
    color: #6d6d6d;
    align-items: flex-end;
    padding: 0 22px 15px 15px;
}

.prev-request span {
    margin: 0 10px;
}

.prev-request .itm1 {
    font-size: 20px;
    font-weight: 600;
    margin-right: auto;
}

.prev-request .itm2 {
    font-size: 12px;
}

.prev-request img {
    margin-bottom: -10px;
}

.prev-request img:hover {
    cursor: pointer;
}

.bottom-block {
    height: 166px;
    overflow-y: scroll;
}

.bottom-table {
    width: 100%;
    font-family: 'Trebuchet MS', sans-serif;
    color: #6e5c0b;
    border-collapse: collapse;
}

.bottom-table thead {
    background: #fcd623;
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0px -7px 10px -9px;
}

.bottom-table th {
    height: 32px;
    text-align: left;
    padding-left: 15px;
    border-right: 1px dotted #c9caca;
}

.bottom-table th:nth-child(1) {
    padding-left: 25px;
}

.bottom-table th:last-child {
    border-right: none;
}

.bottom-table th:first-child {
    border-left: none;
}

.bottom-table tbody {
    background-color: #f9f9f9;
}

.bottom-table td {
    height: 31px;
    font-size: 13px;
    padding-left: 15px;
    color: #4d5a6a;
    border-right: 1px dotted #c9caca;
    border-top: 1px dotted #c9caca;
}

.bottom-table td:nth-child(1) {
    padding-left: 25px;
}

.selected-item {
    background: #b4d3f8;
}

.ordered {
    width: 30%;
}

.trash {
    float: right;
}

[name="validator"] {
    display: none;
}

[name="letter"] {
    display: none;
}

[name="address"] {
    display: none;
}

[name="et"] {
    display: none;
}
