.gabriel {
    margin: auto;
    width: 910px;
    height: 645px;
    border: 1px solid #dbdbdb;
}

.nav-menu {
    border-collapse: collapse;
    width: 100%;
}

.nav-menu tr{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #fed516;
    height: 60px;
    margin-top: 10px;
}

.nav-menu td{
    border-left: 2px solid #c6a612;
    text-align: center;
    width: 13%;
}

.nav-menu span {
    font-family: inherit;
    font-size: 14px;
}

.nav-menu a {
    text-decoration: none;
    color: #846f0c;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.nav-menu a:active {
    text-decoration: underline;
    color: #d50307;
}

.inactive-menu {
    color: #d4b215;
}

.request-table {
    width: 100%;
    height: 244px;
    background-color: #f9f9f9;
    font-family: 'Trebuchet MS', sans-serif;
    color: #6d6d6d;
    border-collapse: collapse;
}

.request-table th {
    height: 32px;
    font-size: 13px;
    font-weight: 700;
    border-bottom: 1px solid #dbdbdb;
    border-top: 2px solid #dbdbdb;
}

.request-table td {
    padding-top: 13px;
}

.left-align {
    text-align: left;
    padding-left: 15px;
    width: 215px;
}

.request-table tbody {
    font-family: inherit;
    text-align: center;
}

.address {
    font-family: inherit;
    font-size: 12px;
}

.et-count {
    font-family: inherit;
    font-size: 17px;
    font-weight: 600;
}

.request-table input{
    width: 93%;
    height: 15px;
}

.button-block {
    height: 100px;
    background-color: #f9f9f9;
    display: flex;
    padding: 0 15px;
}

.button-block button {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-weight: 400;
    border: 1px solid #628428;
    width: 170px;
    height: 40px;
    margin: 0 8px;
    align-self: center;
}

.button-block .send-button {
    background: linear-gradient(180deg, #f7f7f7, #c8c8c8);
    color: #949494;
}

.button-block .arch-button {
    margin-right: auto;
}

.button-block .green-col {
    background: linear-gradient(180deg, #9ec454, #7ca92f);
    color: #fff;
}

.prev-request {
    background-color: #f9f9f9;
    width: 100%;
    height: 80px;
    margin-top: -16px;
}

.bottom-table {
    width: 100%;
    background-color: #f9f9f9;
}