table {
    border-collapse: collapse;
    font-family: 'Calibri', Times, serif;
}
thead {
    background-color: #3498DB;
    color: white;
}

th, td {
    border: 1px solid lightgray;
    text-align: left;
    padding: 7px;
    width: 120px;
}

.grey-row {
    background-color: #eeeeee;
}