.employee {
    border-collapse: collapse;
    font-family: "Calibri", sans-serif;
    font-size: 22px;
    width: 78%;
}

.employee thead {
    background-color: #3498DB;
    color: #fff;
}

.employee tbody > tr:nth-child(odd) {
    background-color: #eeeeee;
}

.employee th {
    border: 1px solid #d3d3d3;
    text-align: left;
    padding: .4em;
}

.employee td {
    border: 1px solid #d3d3d3;
    text-align: left;
    padding: .4em;
}